<!DOCTYPE html>
<html>
	<head>
	
		<title>City Management</title>
		
		<meta http-equiv="Expires" content="-1">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">

		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="https://onlinobh.web.app/js/bootstrap-datetimepicker.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-firestore.js"></script>
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link href="https://onlinobh.web.app/css/bootstrap-datetimepicker.css" rel="stylesheet">
		<link href="https://icons.getbootstrap.com/font/bootstrap-icons.css" rel="stylesheet">
		
	    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
		<link rel="apple-touch-icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
		<link rel="apple-touch-startup-image" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
		<link rel="apple-touch-icon-precomposed" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
	
	</head>
	<body>
	
		<div class="container-fluid" ng-app="application" ng-controller="controller">
		
			<h4 class="pb-2 mt-4 mb-3 border-bottom">
				City Management
			</h4>
			
			<div id="alert" ng-class="alert.class" ng-bind="alert.message" class="alert fw-bold text-center" role="alert">
			</div>
			
			<div class="card">
				<div class="card-header fw-bold">
					City Search
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="id" class="form-label">Id</label>
								<input id="id" ng-model="citySearch.id" type="tel" class="form-control is-valid" placeholder="Id" maxlength="10" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="name" class="form-label">Name</label>
								<input id="name" ng-model="citySearch.name" type="text" class="form-control is-valid name" placeholder="Name" maxlength="100" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="active" class="form-label">Active</label>
								<select id="active" ng-model="citySearch.active" class="form-control is-valid" placeholder="Active" autocomplete="off">
									<option ng-value="">Active</option>
									<option ng-value="true">Yes</option>
									<option ng-value="false">No</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="time" class="form-label">Last Update</label>
								<div class="input-append date input-group">
									<input id="time" type="text" ng-model="time" maxlength="10" class="form-control is-valid date-picker" placeholder="Last Update" autocomplete="off">
									<i class="input-group-text bi bi-calendar3"></i>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="limit" class="form-label">City Count</label>
								<select id="limit" ng-model="limit" class="form-control is-valid" placeholder="City Count" autocomplete="off">
									<option ng-value="">City Count</option>
									<option ng-value="50">50</option>
									<option ng-value="100">100</option>
									<option ng-value="150">150</option>
									<option ng-value="200">200</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer text-center">
					<button type="button" class="btn btn-dark" ng-click="searchCitys(true)">Search</button>
				</div>
			</div>
			
			<div class="card mt-4">
				<div class="card-header fw-bold">
					City List
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Id
								</th>
								<th>
									Name
								</th>
								<th>
									Active
								</th>
								<th>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#cityModal" ng-click="toAddCity()">Add</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="city in citys">
								<td>
									{{$index + 1}}
								</td>
								<td>
									{{city.id}}
								</td>
								<td>
									{{city.name}}
								</td>
								<td>
									{{city.active ? 'Yes' : 'No'}}
								</td>
								<th>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#viewModal" ng-click="selectCity(city)">View</button>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#cityModal" ng-click="toUpdateCity(city)">Edit</button>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#activateModal" ng-if="!city.active" ng-click="selectCity(city)">Activate</button>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#activateModal" ng-if="city.active" ng-click="selectCity(city)">Deactivate</button>
								</th>
							</tr>
							<tr ng-show="citysLoading">
								<td align="center" colspan="20">
									<div class="spinner-border" role="status">
										<span class="sr-only"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal fade" id="cityModal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{city.id == null ? 'Add' : 'Update'}} City</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="alert" ng-class="alert.class" ng-bind="alert.message" class="alert fw-bold text-center" role="alert">
							</div>
							<div class="card mt-4">
								<div class="card-header fw-bold">
									City Details
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="name" class="form-label">Name</label>
												<input id="name" ng-model="city.name" type="text" class="form-control is-valid name" placeholder="Name" maxlength="100" autocomplete="off">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card mt-4">
								<div class="card-header fw-bold">
									Address List
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>
													#
												</th>
												<th>
													Building
												</th>
												<th>
													Road
												</th>
												<th>
													Block
												</th>
												<th>
													<button type="button" class="btn btn-dark" ng-click="addAddress($index)">Add</button>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="address in city.addresss">
												<td>
													{{$index + 1}}
												</td>
												<td>
													<div class="mb-3">
														<input id="building" ng-model="address.building" type="tel" class="form-control is-valid required" placeholder="Building" maxlength="10" autocomplete="off">
													</div>
												</td>
												<td>
													<div class="mb-3">
														<input id="road" ng-model="address.road" type="tel" class="form-control is-valid required" placeholder="Road" maxlength="10" autocomplete="off">
													</div>
												</td>
												<td>
													<div class="mb-3">
														<input id="block" ng-model="address.block" type="tel" class="form-control is-valid required" placeholder="Block" maxlength="10" autocomplete="off">
													</div>
												</td>
												<th>
													<button type="button" class="btn btn-dark" ng-click="addAddress($index)">+</button>
													<button type="button" class="btn btn-dark" ng-click="deleteAddress($index)">-</button>
												</th>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-dark" ng-if="city.id == null" ng-click="addCity()">Add</button>
							<button type="button" class="btn btn-dark" ng-if="city.id != null" ng-click="updateCity()">Update</button>
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="viewModal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">View City</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="card mt-4">
								<div class="card-header fw-bold">
									City Details
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<tbody>
											<tr>
												<th>
													Id
												</th>
												<td>
													{{city.id}}
												</td>
											</tr>
											<tr>
												<th>
													Name
												</th>
												<td>
													{{city.name}}
												</td>
											</tr>
											<tr>
												<th>
													Active
												</th>
												<td>
													{{city.active ? 'Yes' : 'No'}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="card mt-4">
								<div class="card-header fw-bold">
									Address List
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>
													#
												</th>
												<th>
													Building
												</th>
												<th>
													Road
												</th>
												<th>
													Block
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="address in city.addresss">
												<td>
													{{$index + 1}}
												</td>
												<td>
													{{address.building}}
												</td>
												<td>
													{{address.road}}
												</td>
												<td>
													{{address.block}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="activateModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{city.active ? 'Deactivate' : 'Activate'}} City</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<h4>Are you sure to {{city.active ? 'deactivate' : 'activate'}} City</h4>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal" ng-if="!city.active" ng-click="updateCityActive()">Activate</button>
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal" ng-if="city.active" ng-click="updateCityActive()">Deactivate</button>
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			
			var application = angular.module("application", []);
		
			application.controller("controller", 

				function($scope, $timeout){
					
					$scope.citysLoading = true;
					$scope.maxCityId = 0;
					$scope.limit = 50;
					$scope.time = getLastMonthDate();
					
					$scope.alert = {class:"d-none", message:null};
					$scope.citys = new Array();
					$scope.citySearch = new Object();
					$scope.citySearch.active = true;
					$scope.city = new Object();
					
					$scope.city.addresss = new Array();
					
					$(".date-picker").datetimepicker({
						minView: 2,
						maxView: 2,
						format: "dd-mm-yyyy",
						autoclose: true,
						todayBtn: true,
					});
					
					firebase.firestore().collection("citys").orderBy("id", "desc").limit(1).onSnapshot(function(snapshot) {
						
						snapshot.docChanges().forEach(function(change) {
							
							if (change.type === "added") {
								
								$scope.maxCityId = Number(change.doc.id);
							}
						});
					});
					
					$scope.searchCitys = function(alert){
						
						$scope.citys = new Array();
						
						$scope.citysLoading = true;
						
						var citysRef = firebase.firestore().collection("citys");
						
						var properties = getProperties($scope.citySearch, "");
						
						for(let property in properties){
							
							if(properties[property] != null
								&& properties[property] != ""){
								
								citysRef = citysRef.where(property, "==", properties[property]);
							}
						}
						
						if($scope.time != null 
							&& $scope.time != ""){
							
							citysRef = citysRef.where("time", ">=", $scope.time);
						}
						
						if($scope.limit != null 
							&& $scope.limit != ""){
							
							citysRef = citysRef.limit($scope.limit);
						}
						
						if(alert){
							$scope.alert = {class:"alert-warning", message:"Please wait"};
						}
						
						citysRef.get().then(function(snapshot){
							
							if(alert){
								$scope.alert = {class:"d-none", message:null};
							}
							
							snapshot.forEach(function(document) {
								
								$scope.citys.push(document.data());
							});
							
							$scope.citysLoading = false;
							
							$scope.$digest();
						});
					}
					
					$scope.searchCitys(true);
					
					$scope.selectCity = function(city){
						
						$scope.city = Object.assign(new Object, city);
					}
					
					$scope.toAddCity = function(){
						
						$scope.alert = {class:"alert-info", message:"Please enter City Details"};
						
						$scope.city = new Object();
						
						$scope.city.addresss = new Array();
					}
					
					$scope.addCity = function(){
						
						window.scrollTo(0, 0);
						
						var result = isValidForm();
						
						if(result == null){
							
							$("#cityModal").modal("hide");
							
							$scope.alert = {class:"alert-warning", message:"Please wait"};
							
							$scope.city.id = $scope.maxCityId + 1;
							$scope.city.active = true;
							$scope.city.time = getTime();
							
							firebase.firestore().collection("citys").doc(String($scope.city.id)).set($scope.city).then(function(reference){
								
								$scope.alert = {class:"alert-success", message:"City with ID#" + $scope.city.id + " has been added successfully"};
								
								$scope.searchCitys(false);
								
								$scope.$digest();
							
							}).catch(function(error){
								
								$scope.alert = {class:"alert-danger", message:result};
							});
							
						}else{
							
							$scope.alert = {class:"alert-danger", message:result};
						}
					}
					
					$scope.toUpdateCity = function(city){
						
						$scope.alert = {class:"alert-info", message:"Please update City Details"};
						
						$scope.city = Object.assign(new Object, city);
						
						if($scope.city.addresss == null){
							$scope.city.addresss = new Array();
						}
						
						
						$timeout(function(){
							
							isValidForm();
						})
					}
					
					$scope.updateCity = function(){
						
						window.scrollTo(0, 0);
						
						var result = isValidForm();
						
						if(result == null){
							
							$("#cityModal").modal("hide");
							
							$scope.alert = {class:"alert-warning", message:"Please wait"};
							
							$scope.city.time = getTime();
							
							firebase.firestore().collection("citys").doc(String($scope.city.id)).set($scope.city).then(function(reference){
								
								$scope.alert = {class:"alert-success", message:"City with ID#" + $scope.city.id + " has been updated successfully"};
								
								$scope.searchCitys(false);
								
								$scope.$digest();
							
							}).catch(function(error){
								
								$scope.alert = {class:"alert-danger", message:result};
							});
							
						}else{
							
							$scope.alert = {class:"alert-danger", message:result};
						}
					}
					
					$scope.updateCityActive = function(){
						
						window.scrollTo(0, 0);
						
						$scope.alert = {class:"alert-warning", message:"Please wait"};
						
						$scope.city.active = !$scope.city.active;
						$scope.city.time = getTime();
						
						firebase.firestore().collection("citys").doc(String($scope.city.id)).set($scope.city).then(function(reference){
							
							if($scope.city.active){
								
								$scope.alert = {class:"alert-success", message:"City with ID#" + $scope.city.id + " has been activated successfully"};
								
							}else{
								
								$scope.alert = {class:"alert-success", message:"City with ID#" + $scope.city.id + " has been deactivated successfully"};
							}
							
							$scope.searchCitys(false);
							
							$scope.$digest();
							
						}).catch(function(error){
							
							$scope.alert = {class:"alert-danger", message:result};
						});
					}
					
					$scope.addAddress = function(index){
						$scope.city.addresss.splice(index, 0, new Object());
					}
					
					$scope.deleteAddress = function(index){
						$scope.city.addresss.splice(index, 1);
					}
				}
			);
			
		</script>
		<script src="common.js"></script>
	</body>
</html>