<!DOCTYPE html>
<html>
	<head>
	
		<title>${table.title} Management</title>
		
		<meta http-equiv="Expires" content="-1">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">

		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="https://onlinobh.web.app/js/bootstrap-datetimepicker.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-firestore.js"></script>
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link href="https://onlinobh.web.app/css/bootstrap-datetimepicker.css" rel="stylesheet">
		<link href="https://icons.getbootstrap.com/font/bootstrap-icons.css" rel="stylesheet">
		
	    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
		<link rel="apple-touch-icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
		<link rel="apple-touch-startup-image" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
		<link rel="apple-touch-icon-precomposed" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
	
	</head>
	<body>
	
		<div class="container-fluid" ng-app="application" ng-controller="controller">
		
			<h4 class="pb-2 mt-4 mb-3 border-bottom">
				${table.title} Management
			</h4>
			
			<div id="alert" ng-class="alert.class" ng-bind="alert.message" class="alert fw-bold text-center" role="alert">
			</div>
			
			<div class="card">
				<div class="card-header fw-bold">
					${table.title} Search
				</div>
				<div class="card-body">
					<div class="row">
						#foreach(${column} in ${table.columnList})
						#if(${column.type} == -7)
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="${column.propertyName}" class="form-label">${column.title}</label>
								<select id="${column.propertyName}" ng-model="${table.propertyName}Search.${column.fieldModel}" class="form-control is-valid" placeholder="${column.title}" autocomplete="off">
									<option ng-value="">${column.title}</option>
									<option ng-value="true">Yes</option>
									<option ng-value="false">No</option>
								</select>
							</div>
						</div>
						#else
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="${column.propertyName}" class="form-label">${column.title}</label>
								<input id="${column.propertyName}" ng-model="${table.propertyName}Search.${column.fieldModel}" type="${column.inputType}" class="${column.inputSearchClass}" placeholder="${column.title}" maxlength="${column.length}" autocomplete="off">
							</div>
						</div>
						#end
						#end
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="time" class="form-label">Last Update</label>
								<div class="input-append date input-group">
									<input id="time" type="text" ng-model="time" maxlength="10" class="form-control is-valid date-picker" placeholder="Last Update" autocomplete="off">
									<i class="input-group-text bi bi-calendar3"></i>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="limit" class="form-label">${table.title} Count</label>
								<select id="limit" ng-model="limit" class="form-control is-valid" placeholder="${table.title} Count" autocomplete="off">
									<option ng-value="">${table.title} Count</option>
									<option ng-value="50">50</option>
									<option ng-value="100">100</option>
									<option ng-value="150">150</option>
									<option ng-value="200">200</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer text-center">
					<button type="button" class="btn btn-dark" ng-click="search${table.className}s(true)">Search</button>
				</div>
			</div>
			
			<div class="card mt-4">
				<div class="card-header fw-bold">
					${table.title} List
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									#
								</th>
								#foreach(${column} in ${table.columnList})
								<th>
									${column.title}
								</th>
								#end
								<th>
									Last Update
								</th>
								<th>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#${table.propertyName}Modal" ng-click="toAdd${table.className}()">Add</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="${table.propertyName} in ${table.propertyName}s">
								<td>
									{{$index + 1}}
								</td>
								#foreach(${column} in ${table.columnList})
								<td>
									#if(${column.type} == -7)
									{{${table.propertyName}.${column.fieldModel} ? 'Yes' : 'No'}}
									#else
									{{${table.propertyName}.${column.fieldModel}}}
									#end
								</td>
								#end
								<td>
									{{${table.propertyName}.time}}
								</td>
								<th>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#viewModal" ng-click="select${table.className}(${table.propertyName})">View</button>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#${table.propertyName}Modal" ng-click="toUpdate${table.className}(${table.propertyName})">Edit</button>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#activateModal" ng-if="!${table.propertyName}.active" ng-click="select${table.className}(${table.propertyName})">Activate</button>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#activateModal" ng-if="${table.propertyName}.active" ng-click="select${table.className}(${table.propertyName})">Deactivate</button>
								</th>
							</tr>
							<tr ng-show="${table.propertyName}sLoading">
								<td align="center" colspan="20">
									<div class="spinner-border" role="status">
										<span class="sr-only"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal fade" id="${table.propertyName}Modal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{${table.propertyName}.id == null ? 'Add' : 'Update'}} ${table.title}</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="alert" ng-class="alert.class" ng-bind="alert.message" class="alert fw-bold text-center" role="alert">
							</div>
							<div class="card mt-4">
								<div class="card-header fw-bold">
									${table.title} Details
								</div>
								<div class="card-body">
									<div class="row">
										#foreach(${column} in ${table.columnList})
										#if(${column.propertyName} != "id" && ${column.propertyName} != "active")
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="${column.propertyName}" class="form-label">${column.title}</label>
												<input id="${column.propertyName}" ng-model="${table.propertyName}.${column.fieldModel}" type="${column.inputType}" class="${column.inputClass}" placeholder="${column.title}" maxlength="${column.length}" autocomplete="off">
											</div>
										</div>
										#end
										#end
									</div>
								</div>
							</div>
							#foreach(${exportedKey} in ${table.exportedKeys})
							<div class="card mt-4">
								<div class="card-header fw-bold">
									${exportedKey.title} List
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>
													#
												</th>
												#foreach(${column} in ${exportedKey.columns.values()})
												#if(${column.propertyName} != "id" && ${column.propertyName} != "active" && ${column.relationTable.name} != ${table.name})
												<th>
													${column.title}
												</th>
												#end
												#end
												<th>
													<button type="button" class="btn btn-dark" ng-click="add${exportedKey.className}($index)">Add</button>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="${exportedKey.propertyName} in ${table.propertyName}.${exportedKey.propertyName}s">
												<td>
													{{$index + 1}}
												</td>
												#foreach(${column} in ${exportedKey.columns.values()})
												#if(${column.propertyName} != "id" && ${column.propertyName} != "active" && ${column.relationTable.name} != ${table.name})
												<td>
													<div class="mb-3">
														<input id="${column.propertyName}" ng-model="${exportedKey.propertyName}.${column.propertyName}" type="${column.inputType}" class="${column.inputClass}" placeholder="${column.title}" maxlength="${column.length}" autocomplete="off">
													</div>
												</td>
												#end
												#end
												<th>
													<button type="button" class="btn btn-dark" ng-click="add${exportedKey.className}($index)">+</button>
													<button type="button" class="btn btn-dark" ng-click="delete${exportedKey.className}($index)">-</button>
												</th>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							#end
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-dark" ng-if="${table.propertyName}.id == null" ng-click="add${table.className}()">Add</button>
							<button type="button" class="btn btn-dark" ng-if="${table.propertyName}.id != null" ng-click="update${table.className}()">Update</button>
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="viewModal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">View ${table.title}</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="card mt-4">
								<div class="card-header fw-bold">
									${table.title} Details
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<tbody>
											#foreach(${column} in ${table.columnList})
											<tr>
												<th>
													${column.title}
												</th>
												<td>
													#if(${column.type} == -7)
													{{${table.propertyName}.${column.fieldModel} ? 'Yes' : 'No'}}
													#else
													{{${table.propertyName}.${column.fieldModel}}}
													#end
												</td>
											</tr>
											#end
										</tbody>
									</table>
								</div>
							</div>
							#foreach(${exportedKey} in ${table.exportedKeys})
							<div class="card mt-4">
								<div class="card-header fw-bold">
									${exportedKey.title} List
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>
													#
												</th>
												#foreach(${column} in ${exportedKey.columns.values()})
												#if(${column.propertyName} != "id" && ${column.propertyName} != "active" && ${column.relationTable.name} != ${table.name})
												<th>
													${column.title}
												</th>
												#end
												#end
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="${exportedKey.propertyName} in ${table.propertyName}.${exportedKey.propertyName}s">
												<td>
													{{$index + 1}}
												</td>
												#foreach(${column} in ${exportedKey.columns.values()})
												#if(${column.propertyName} != "id" && ${column.propertyName} != "active" && ${column.relationTable.name} != ${table.name})
												<td>
													#if(${column.type} == -7)
													{{${exportedKey.propertyName}.${column.fieldModel} ? 'Yes' : 'No'}}
													#else
													{{${exportedKey.propertyName}.${column.fieldModel}}}
													#end
												</td>
												#end
												#end
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							#end
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="activateModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{${table.propertyName}.active ? 'Deactivate' : 'Activate'}} ${table.title}</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<h4>Are you sure to {{${table.propertyName}.active ? 'deactivate' : 'activate'}} ${table.title}</h4>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal" ng-if="!${table.propertyName}.active" ng-click="update${table.className}Active()">Activate</button>
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal" ng-if="${table.propertyName}.active" ng-click="update${table.className}Active()">Deactivate</button>
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			
			var application = angular.module("application", []);
		
			application.controller("controller", 

				function(#[[$scope, $timeout]]#){
					
					#[[$scope]]#.employeesLoading = true;
					#[[$scope]]#.max${table.className}Id = 0;
					#[[$scope]]#.limit = 50;
					#[[$scope]]#.time = getLastMonthDate();
					
					#[[$scope]]#.alert = {class:"d-none", message:null};
					#[[$scope]]#.${table.propertyName}s = new Array();
					#[[$scope]]#.${table.propertyName}Search = new Object();
					//#[[$scope]]#.${table.propertyName}Search.active = true;
					#[[$scope]]#.${table.propertyName} = new Object();
					#foreach(${exportedKey} in ${table.exportedKeys})
					#[[$scope]]#.${table.propertyName}.${exportedKey.propertyName}s = new Array();
					#end
					
					#[[$]]#(".date-picker").datetimepicker({
						minView: 2,
						maxView: 2,
						format: "dd-mm-yyyy",
						autoclose: true,
						todayBtn: true,
					});
					
					firebase.firestore().collection("${table.propertyName}s").orderBy("id", "desc").limit(1).onSnapshot(function(snapshot) {
						
						snapshot.docChanges().forEach(function(change) {
							
							if (change.type === "added") {
								
								$scope.max${table.className}Id = Number(change.doc.id);
							}
						});
					});
					
					$scope.search${table.className}s = function(alert){
						
						#[[$scope]]#.${table.propertyName}s = new Array();
						
						#[[$scope]]#.${table.propertyName}sLoading = true;
						
						var ${table.propertyName}sRef = firebase.firestore().collection("${table.propertyName}s");
						
						var properties = getProperties($scope.${table.propertyName}Search, "");
						
						for(let property in properties){
							
							if(properties[property] != null
								&& properties[property] != ""){
								
								${table.propertyName}sRef = ${table.propertyName}sRef.where(property, "==", properties[property]);
							}
						}
						
						if(#[[$scope]]#.time != null 
							&& #[[$scope]]#.time != ""){
							
							//${table.propertyName}sRef = ${table.propertyName}sRef.where("time", ">=", #[[$scope]]#.time);
						}
						
						if(#[[$scope]]#.limit != null 
							&& #[[$scope]]#.limit != ""){
							
							${table.propertyName}sRef = ${table.propertyName}sRef.limit(#[[$scope]]#.limit);
						}
						
						if(alert){
							#[[$scope]]#.alert = {class:"alert-warning", message:"Please wait"};
						}
						
						${table.propertyName}sRef.get().then(function(snapshot){
							
							if(alert){
								#[[$scope]]#.alert = {class:"d-none", message:null};
							}
							
							snapshot.forEach(function(document) {
								
								#[[$scope]]#.${table.propertyName}s.push(document.data());
							});
							
							#[[$scope]]#.${table.propertyName}sLoading = false;
							
							#[[$scope]]#.$digest();
						});
					}
					
					#[[$scope]]#.search${table.className}s(true);
					
					#[[$scope]]#.select${table.className} = function(${table.propertyName}){
						
						#[[$scope]]#.${table.propertyName} = Object.assign(new Object, ${table.propertyName});
					}
					
					#[[$scope]]#.toAdd${table.className} = function(){
						
						#[[$scope]]#.alert = {class:"alert-info", message:"Please enter ${table.title} Details"};
						
						#[[$scope]]#.${table.propertyName} = new Object();
						
						#foreach(${exportedKey} in ${table.exportedKeys})
						#[[$scope]]#.${table.propertyName}.${exportedKey.propertyName}s = new Array();
						#end
					}
					
					#[[$scope]]#.add${table.className} = function(){
						
						window.scrollTo(0, 0);
						
						var result = isValidForm();
						
						if(result == null){
							
							$("#${table.propertyName}Modal").modal("hide");
							
							#[[$scope]]#.alert = {class:"alert-warning", message:"Please wait"};
							
							#[[$scope]]#.${table.propertyName}.id = #[[$scope]]#.max${table.className}Id + 1;
							#[[$scope]]#.${table.propertyName}.active = true;
							#[[$scope]]#.${table.propertyName}.time = getTime();
							
							firebase.firestore().collection("${table.propertyName}s").doc(String($scope.${table.propertyName}.id)).set($scope.${table.propertyName}).then(function(reference){
								
								#[[$scope]]#.alert = {class:"alert-success", message:"${table.title} with ID#" + #[[$scope]]#.${table.propertyName}.id + " has been added successfully"};
								
								#[[$scope]]#.search${table.className}s(false);
								
								#[[$scope]]#.$digest();
							});
							
						}else{
							
							#[[$scope]]#.alert = {class:"alert-danger", message:result};
						}
					}
					
					#[[$scope]]#.toUpdate${table.className} = function(${table.propertyName}){
						
						#[[$scope]]#.alert = {class:"alert-info", message:"Please update ${table.title} Details"};
						
						#[[$scope]]#.${table.propertyName} = Object.assign(new Object, ${table.propertyName});
						
						#foreach(${exportedKey} in ${table.exportedKeys})
						if(#[[$scope]]#.${table.propertyName}.${exportedKey.propertyName}s == null){
							#[[$scope]]#.${table.propertyName}.${exportedKey.propertyName}s = new Array();
						}
						
						#end
						
						#[[$timeout]]#(function(){
							
							isValidForm();
						})
					}
					
					#[[$scope]]#.update${table.className} = function(){
						
						window.scrollTo(0, 0);
						
						var result = isValidForm();
						
						if(result == null){
							
							$("#${table.propertyName}Modal").modal("hide");
							
							#[[$scope]]#.alert = {class:"alert-warning", message:"Please wait"};
							
							#[[$scope]]#.${table.propertyName}.time = getTime();
							
							firebase.firestore().collection("${table.propertyName}s").doc(String($scope.${table.propertyName}.id)).set($scope.${table.propertyName}).then(function(reference){
								
								#[[$scope]]#.alert = {class:"alert-success", message:"${table.title} with ID#" + #[[$scope]]#.${table.propertyName}.id + " has been updated successfully"};
								
								#[[$scope]]#.search${table.className}s(false);
								
								#[[$scope]]#.$digest();
							});
							
						}else{
							
							#[[$scope]]#.alert = {class:"alert-danger", message:result};
						}
					}
					
					#[[$scope]]#.update${table.className}Active = function(){
						
						window.scrollTo(0, 0);
						
						#[[$scope]]#.${table.propertyName}.active = !#[[$scope]]#.${table.propertyName}.active;
						#[[$scope]]#.${table.propertyName}.time = getTime();
						
						#[[$scope]]#.alert = {class:"alert-warning", message:"Please wait"};
						
						firebase.firestore().collection("${table.propertyName}s").doc(String($scope.${table.propertyName}.id)).set($scope.${table.propertyName}).then(function(reference){
							
							if(#[[$scope]]#.${table.propertyName}.active){
								
								#[[$scope]]#.alert = {class:"alert-success", message:"${table.title} with ID#" + #[[$scope]]#.${table.propertyName}.id + " has been activated successfully"};
								
							}else{
								
								#[[$scope]]#.alert = {class:"alert-success", message:"${table.title} with ID#" + #[[$scope]]#.${table.propertyName}.id + " has been deactivated successfully"};
							}
							
							#[[$scope]]#.search${table.className}s(false);
							
							#[[$scope]]#.$digest();
						});
					}
					
					#foreach(${exportedKey} in ${table.exportedKeys})
					#[[$scope]]#.add${exportedKey.className} = function(index){
						#[[$scope]]#.${table.propertyName}.${exportedKey.propertyName}s.splice(index, 0, new Object());
					}
					
					#[[$scope]]#.delete${exportedKey.className} = function(index){
						#[[$scope]]#.${table.propertyName}.${exportedKey.propertyName}s.splice(index, 1);
					}
					#end
				}
			);
			
		</script>
		<script src="common.js"></script>
	</body>
</html>